body {
	color: #0078ae;
	background: linear-gradient(to right, red , yellow);
}

.mainImage {
	width: 75%;
	height: auto;
}

img {
	height: auto;
	width: 100%;
  float: left;
  margin: 5px 5px 8px 8px;
}

.dimmed {
  position: relative;
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
}

ul {
    list-style-type: none;
    color: #e21737;
}

.btn {
	margin-top: 15px;
  margin-bottom: 15px;
}

.row {
  margin-left: 15px;
}